<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <title layout:title>관리자 - 좋아요 목록</title>
</head>
<section layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">관리자 - 좋아요 목록</h1>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>사용자 이름</th>
                        <th>게시글 ID</th>
                        <th>생성 시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="like : ${likes}">
                        <td th:text="${like.id}"></td>
                        <td th:text="${like.username}"></td>
                        <td th:text="${like.board.id}"></td>
                        <td th:text="${#temporals.format(like.createdDttm, 'yyyy.MM.dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="/boards" class="btn btn-secondary">게시판 목록으로 돌아가기</a>
        </div>
    </div>
</section>
</html>