<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
  <title layout:title>사용자 목록</title>
</head>
<section layout:fragment="content">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">사용자 목록</h1>
      <a href="/users/new" class="btn btn-primary mb-3">새 사용자 추가</a>
      <a href="/admin/users" class="btn btn-secondary mb-3">관리자 보기</a>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>사용자 이름</th>
            <th>이메일</th>
            <th>역할</th>
            <th>생성 시간</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role == 'USER' ? '일반 사용자' : '관리자'}"></td>
            <td th:text="${#temporals.format(user.createdDttm, 'yyyy.MM.dd HH:mm:ss')}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
</html>