<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
  <title layout:title>새 사용자 추가</title>
</head>
<section layout:fragment="content">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">새 사용자 추가</h1>
      <form method="post" action="/users">
        <div class="mb-3">
          <label for="username" class="form-label">사용자 이름</label>
          <input type="text" id="username" name="username" class="form-control w-50" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">이메일</label>
          <input type="text" id="email" name="email" class="form-control w-50" required>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
        <a href="/users" class="btn btn-secondary">목록으로 돌아가기</a>
      </form>
    </div>
  </div>
</section>
</html>